@import "tailwindcss";
@import "@fontsource/poppins";
@import "@fontsource/inter";

:root {
  --color-primary: 24 95% 54%;
  /* orange (#FB5704) */
  --color-secondary: 42 95% 54%;
  /* amber */
  --color-accent: 160 80% 40%;
  /* emerald */
  --color-dark: 222 47% 11%;
  /* gray-900 */
  --color-light: 210 20% 98%;
  /* light gray */

  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;
}


@theme {
  --color-primary-50: #f1f2ff;
  --color-primary-100: #e6e8ff;
  --color-primary-200: #d0d5ff;
  --color-primary-300: #aaafff;
  --color-primary-400: #7a7bff;
  --color-primary-500: #4c44ff;
  --color-primary-600: #341fff;
  --color-primary-700: #240df4;
  --color-primary-800: #200bdc;
  --color-primary-900: #1b0ba7;
  --color-primary-950: #0a0372;
}